einops==0.8.0
json5==0.9.25
lightning==2.2.5
matplotlib==3.9.0
numpy==1.26.4
omegaconf==2.3.0
ruamel.base==1.0.0
ruamel_yaml==0.18.6
scikit_learn==1.5.0
scipy==1.13.1
six==1.16.0
torch==2.0.1 
torchaudio==2.0.2
tqdm==4.66.1
transformers==4.41.2
taming-transformers-rom1504==0.0.6